.ux-portfolio-footer {
  display: var(--display-flex);
  justify-content: var(--justify-content-center);
  gap: var(--unit-750-px);
  align-items: var(--align-items-center);
  border-top: var(--unit-1-px) var(--solid) var(--light);
  color: var(--night);
  padding: var(--unit-100-px) var(--unit-30-px);

  &__main-wrapper {
    display: var(--display-flex);
    justify-content: var(--justify-content-space-between);
    align-items: var(--align-items-center);
    width: var(--unit-70-percent);
    margin: 0 auto; /* Auto margins on the sides */
  }

  &__brand-wrapper {
    display: var(--display-flex);
    align-items: var(--align-items-end);
    font-weight: var(--font-weight-600);
  }

  &__links {
    display: var(--display-flex);
    gap: var(--unit-20-px);

    a {
      text-decoration: var(--text-decoration-none);
      color: var(--charcoal);
      font-weight: var(--font-weight-600);
    }
  }

  &__label {
    color: var(--white);
    font-size: var(--unit-20-px);
  }

  &__social-icons {
    display: var(--display-flex);
    gap: var(--unit-20-px);
    font-size: var(--unit-30-px);

    a:-webkit-any-link {
      transition: var(--transition-0-3-seconds);
      color: var(--night);
      cursor: var(--cursor-pointer);
    }

    a:hover {
      color: var(--faded-text);
      cursor: var(--cursor-pointer);
    }
  }

  &__rights {
    color: var(--faded-text);
  }

  &__built {
    font-weight: var(--font-weight-500);
    color: var(--night);
    margin-top: var(--unit-5-px);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .ux-portfolio-footer {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    gap: var(--unit-40-px);
    padding: var(--unit-100-px) var(--unit-10-px);

    &__main-wrapper {
      display: var(--display-flex);
      flex-direction: var(--flex-direction-column);
      gap: var(--unit-40-px);
      width: var(--unit-95-percent);
      margin: 0 auto; /* Auto margins on the sides */
    }

    &__brand-wrapper {
      font-size: var(--unit-20-px);
    }
    &__rights-wrapper {
      display: var(--display-flex);
      flex-direction: var(--flex-direction-column);
      justify-content: var(--justify-content-center);
      align-items: var(--align-items-center);
    }
    &__links {
      gap: var(--unit-10-px);
    }
    &__label {
      font-size: var(--unit-15-px);
    }
    &__social-icons {
      gap: var(--unit-30-px);
    }
    &__rights {
      font-size: var(--unit-15-px);
    }
  }
}
