.ux-portfolio-value-section {
  width: var(--width-100-percent);
  margin-top: var(--unit-170-px);
  color: var(--night);

  &__title-wrapper {
    display: var(--display-flex);
    align-items: var(--align-items-end);
    width: var(--unit-70-percent);
    margin: 0 auto; /* Auto margins on the sides */
  }

  &__title {
    font-size: var(--unit-25-px);
    font-weight: var(--font-weight-400);
  }

  &__spacer {
    width: var(--unit-55-percent);
    border-bottom: var(--night) var(--unit-2-px) var(--solid);
    margin: var(--unit-0-px) var(--unit-0-px) var(--unit-8-px) var(--unit-10-px);
  }

  &__expertise {
    display: var(--display-flex);
    flex-flow: var(--flex-wrap);
    justify-content: var(--justify-content-space-between);
    box-sizing: border-box;
    width: var(--unit-70-percent);
    margin: 0 auto; /* Auto margins on the sides */
    gap: var(--unit-20-px);
    margin-top: var(--unit-80-px);
  }

  &__expertise-wrapper {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    gap: var(--unit-5-px);
    max-width: var(--unit-100-percent);
    width: var(--unit-500-px);
    padding: var(--unit-30-px) var(--unit-35-px);
    transition: 0.3s all ease-in;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }

  &__expertise-title {
    font-size: var(--unit-25-px);
    font-weight: var(--font-weight-400);
  }

  &__expertise-subtitle {
    font-size: var(--unit-20-px);
    font-weight: var(--font-weight-400);
    color: var(--faded-text);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .ux-portfolio-value-section {
    margin-top: var(--unit-120-px);

    &__title-wrapper {
      display: var(--display-flex);
      align-items: var(--align-items-end);
      width: var(--unit-95-percent);
      margin: 0 auto; /* Auto margins on the sides */
    }

    &__projects-wrapper {
      width: var(--unit-95-percent);
      margin: 0 auto; /* Auto margins on the sides */
    }

    &__spacer {
      width: var(--unit-55-percent);
    }

    &__expertise {
      width: var(--unit-95-percent);
      gap: var(--unit-10-px);
      margin-top: var(--unit-45-px);
    }

    &__expertise-wrapper {
      padding: var(--unit-20-px) var(--unit-25-px);
    }

    &__expertise-title {
      font-size: var(--unit-20-px);
      font-weight: var(--font-weight-400);
    }

    &__expertise-subtitle {
      font-size: var(--unit-15-px);
    }
  }
}
