<div class="ux-portfolio-value-section">
  <section>
    <div
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="1000"
      class="ux-portfolio-value-section__title-wrapper"
    >
      <div
        class="ux-portfolio-value-section__title"
        [innerHTML]="content.section"
      ></div>
      <div class="ux-portfolio-value-section__spacer"></div>
    </div>

    <div
      data-aos="fade-up"
      data-aos-delay="250"
      data-aos-duration="1000"
      class="ux-portfolio-value-section__expertise"
    >
      <div
        class="ux-portfolio-value-section__expertise-wrapper"
        *ngFor="let item of content.expertise"
        cardColor
        [cardColorBackground]="item.color"
        [cardColorLabel]="item.labelColor"
      >
        <div
          class="ux-portfolio-value-section__expertise-title"
          [innerHTML]="item.title"
        ></div>
        <div
          class="ux-portfolio-value-section__expertise-subtitle"
          [innerHTML]="item.subtitle"
        ></div>
      </div>
    </div>
  </section>
</div>
