<div class="ux-portfolio-writing-section">
  <section>
    <div class="ux-portfolio-writing-section__title-wrapper">
      <div
        class="ux-portfolio-writing-section__title"
        [innerHTML]="content.section"
      ></div>
      <div class="ux-portfolio-writing-section__spacer"></div>
    </div>

    <div class="ux-portfolio-writing-section__articles">
      <a
        class="ux-portfolio-writing-section__articles-wrapper"
        *ngFor="let item of content.article"
        cardColor
        [cardColorBackground]="item.color"
        [cardColorLabel]="item.labelColor"
        [href]="item.url"
        target="_blank"
      >
        <div>
          <div
            class="ux-portfolio-writing-section__articles-title"
            [innerHTML]="item.title"
          ></div>
          <div
            class="ux-portfolio-writing-section__articles-subtitle"
            [innerHTML]="item.label"
          ></div>
        </div>
        <div class="ux-portfolio-writing-section__article-arrow">
          <img [src]="item.image.src" alt="" />
        </div>
      </a>
    </div>
  </section>
</div>
