<div class="ux-portfolio-hero-section">
  <section class="ux-portfolio-hero-section__centered">
    <div class="ux-portfolio-hero-section__description">
      <label data-aos="fade-up" data-aos-duration="1200"
        >Software Engineer &
        <span class="ux-portfolio-hero-section__description--gradient">
          UI Designer</span
        ></label
      >

      <p
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="150"
        class="ux-portfolio-hero-section__introduction"
      >
        <span class="ux-portfolio-hero-section__introduction--highlight"
          >Hey, my name is Nelson.
        </span>
        I mostly do front-end development, and love to design & build simple,
        user friendly, and memorable digital products.
      </p>
      <button
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="300"
        class="ux-portfolio-hero-section__action"
      >
        <a
          href="mailto:nelsonguerra.tech@outlook.com?subject=Subject Line&body=Hello, I am writing to..."
          [innerHTML]="content.action"
        ></a>
      </button>
    </div>
  </section>
</div>
