.ux-portfolio-skill-section {
  display: var(--display-flex);
  justify-content: var(--justify-content-center);
  align-items: var(--align-items-center);
  gap: var(--unit-80-px);
  width: var(--width-100-percent);
  padding-top: var(--unit-0-px);
  padding-bottom: var(--unit-100-px);
  margin-bottom: var(--unit-100-px);

  &__skills-logo {
    img {
      width: var(--unit-80-percent);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .ux-portfolio-skill-section {
    flex-direction: var(--flex-direction-column);
    justify-content: var(--justify-content-center);
    gap: var(--unit-40-px);
    padding-top: var(--unit-50-px);
    padding-bottom: var(--unit-50-px);

    &__skills-logo {
      img {
        width: var(--unit-110-px);
      }
    }
  }
}
