.ux-portfolio-menu {
  background-color: rgb(245, 245, 245);
  display: var(--display-flex);
  justify-content: var(--justify-content-center);
  align-items: var(--align-items-center);
  position: var(--position-fixed);
  top: var(--unit-0);
  width: var(--unit-100-percent);

  &__centered {
    display: var(--display-flex);
    align-items: var(--align-items-center);
    height: var(--unit-70-px);
    width: var(--unit-95-percent); /* Adjust as needed */
    margin: 0 auto; /* Auto margins on the sides */
  }

  &__nav {
    display: var(--display-flex);
    align-items: var(--align-items-center);
    justify-content: var(--justify-content-space-between);
  }

  &__brand {
    color: var(--night);
    font-weight: var(--font-weight-400);
    font-size: var(--unit-25-px);
    display: var(--display-flex);
    align-items: var(--align-items-center);
    cursor: var(--cursor-pointer);
  }

  &__subtitle {
    font-size: var(--unit-18-px);
    font-weight: var(--font-weight-300);
    color: var(--faded-text);
    margin-left: var(--unit-15-px);
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    &__links {
      ul {
        a {
          font-size: var(--unit-18-px);
        }
      }
    }
  }
}
